[submodule "OpenRoleZoo"]
	path = OpenRoleZoo
	url = git@github.com:SeetaFace6Open/OpenRoleZoo.git
	branch = master
[submodule "SeetaEyeStateDetector"]
	path = SeetaEyeStateDetector
	url = git@github.com:SeetaFace6Open/SeetaEyeStateDetector.git
	branch = master
[submodule "SeetaAgePredictor"]
	path = SeetaAgePredictor
	url = git@github.com:SeetaFace6Open/SeetaAgePredictor.git
	branch = master
[submodule "FaceAntiSpoofingX6"]
	path = FaceAntiSpoofingX6
	url = git@github.com:SeetaFace6Open/FaceAntiSpoofingX6.git
	branch = master
[submodule "SeetaGenderPredictor"]
	path = SeetaGenderPredictor
	url = git@github.com:SeetaFace6Open/SeetaGenderPredictor.git
	branch = master
[submodule "SeetaMaskDetector"]
	path = SeetaMaskDetector
	url = git@github.com:SeetaFace6Open/SeetaMaskDetector.git
	branch = master
[submodule "FaceTracker6"]
	path = FaceTracker6
	url = git@github.com:SeetaFace6Open/FaceTracker6.git
	branch = master
[submodule "FaceBoxes"]
	path = FaceBoxes
	url = git@github.com:SeetaFace6Open/FaceBoxes.git
	branch = master
[submodule "Landmarker"]
	path = Landmarker
	url = git@github.com:SeetaFace6Open/Landmarker.git
	branch = master
[submodule "FaceRecognizer6"]
	path = FaceRecognizer6
	url = git@github.com:SeetaFace6Open/FaceRecognizer6.git
	branch = master
[submodule "PoseEstimator6"]
	path = PoseEstimator6
	url = git@github.com:SeetaFace6Open/PoseEstimator6.git
	branch = master
[submodule "QualityAssessor3"]
	path = QualityAssessor3
	url = git@github.com:SeetaFace6Open/QualityAssessor3.git
	branch = master
[submodule "TenniS"]
	path = TenniS
	url = https://github.com/TenniS-Open/TenniS.git
	branch = master
[submodule "SeetaAuthorize"]
	path = SeetaAuthorize
	url = git@github.com:SeetaFace6Open/SeetaAuthorize.git
	branch = master
